<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Exams</title>
    <link rel="stylesheet" href="/style.css"/>
</head>

<body>
<div class="card">
    <div class="header">
        <h1>Exams</h1>
    </div>
    <div class="content">
        <table>
            <thead>
            <tr>
                <th>Code</th>
                <th>Name</th>
                <th>Points</th>
                <th>Grade</th>
                <th>Date</th>
                <th>Professor</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="exam: ${exams}">
                <td th:text="${exam.get('code')}"></td>
                <td th:text="${exam.get('name')}"></td>
                <td th:text="${exam.get('points')}"></td>
                <td th:text="${exam.get('grade')}"></td>
                <td th:text="${exam.get('date')}"></td>
                <td th:text="${exam.get('professor')}"></td>
            </tr>
            </tbody>
        </table>
    </div>
    <div class="footer">
        <a href="/" class="button">Back</a>
    </div>
</div>
</body>
</html>
